<%
	const newSize = (typeof size !== "undefined") 
		? size : 
		"md"
	const newDirection = (typeof direction !== "undefined") 
		? direction 
		: "vertical"
%>

<div class="spacer <%= newSize %> <%= newDirection %>"></div>
