/* :root.dark-theme {
	.button {
		--btn-col-hover: oklch(from var(--btn-col) calc(l * 0.8) c h);
	}
} */

.button {
	/* --btn-col: var(--col-interactive); */
	/* --btn-col-hover: oklch(from var(--btn-col) calc(l * 0.75) calc(c * 1.25) h); */
	--btn-col: color-mix(in srgb, var(--col-background) 15%, var(--col-interactive));
	--btn-col-hover: color-mix(in srgb, var(--col-dark), var(--col-interactive));
	--text-col: var(--col-background);
	
	display: grid;
	place-items: center;
	line-height: var(--line-height-sm);
	width: fit-content;
	min-height: var(--interactive-min-height);

	color: var(--text-col);
	background-color: var(--btn-col);
	padding: var(--xs) var(--md);
	border-radius: var(--interactive-border-radius);
	border: 1px solid var(--btn-col);
	font-weight: 500;
	cursor: pointer;
	outline: 3px solid transparent;
	transition: var(--transition);
	&:focus-visible,
	&:hover {
		background-color: var(--btn-col-hover);
		border-color: var(--btn-col-hover);
	}
	&:focus-visible {
		outline-color: rgb(from var(--btn-col-hover) r g b / 30%);
	}
	&.gray {
		--text-col: var(--col-dark);
		/* --btn-col: color-mix(in srgb, var(--col-background) 50%, var(--col-gray)); */
		--btn-col: color-mix(in srgb, var(--col-light) 70%, var(--col-gray));
		--btn-col-hover: color-mix(in srgb, var(--col-light) 40%, var(--col-gray));
	}
	&.danger {
		--btn-col: var(--col-danger);
		--btn-col-hover: color-mix(in srgb, var(--col-dark) 33%, var(--col-danger));
	}
	&.sm {
		font-size: var(--text-sm);
		min-height: 0;
		padding: var(--xxs) var(--sm);
	}
	@media (width < 800px) {
		padding-inline: var(--sm);
	}
}