:root {
	/* --col-primary: oklch(55% 55% 230); */
	--col-danger: oklch(
		from var(--col-interactive) 
		l c calc(clamp(20, h - 180, 40))
	);
	
	--col-dark: oklch(from var(--col-primary) 35% 15% h);
	--col-gray: color-mix(in srgb, var(--col-dark) 40%, white);
	--col-light: color-mix(in srgb, var(--col-dark) 7.5%, white);
	--col-interactive: oklch(
		from var(--col-primary) 
		55% 55% h
	);

	--xxs: 0.5rem;
	--xs: 1rem;
	--sm: 2rem;
	--md: 3rem;
	--lg: 5rem;
	--xl: 7.5rem;
	--xxl: 10rem;

	--text-xxs: 1rem;
	--text-xs: 1.2rem;
	--text-sm: 1.4rem;
	--text-md: 1.8rem;
	--text-lg: 2.4rem;
	--text-xl: 3rem;
	--text-xxl: 6rem;

	--screen-width-xs: 600px;

	--transition: 0.25s;
	--transition-slow: 0.5s;
	--transition-quick: 0.125s;
	
	font-size: 62.5%;
	color: var(--col-dark);
	font-family: sans-serif;
	padding: var(--xl);
	min-height: 100vh;
	line-height: 1.25;
	accent-color: var(--col-interactive);

	@media (width < 600px) {
		--text-lg: 2rem;
		--text-xl: 2.4rem;
		--text-xxl: 4rem;

		padding: var(--md);
	}
}

body {
	font-size: var(--text-md);
}

h1 {
	font-size: var(--text-xxl);
	color: var(--col-primary);
}

h2 {
	font-size: var(--text-xl);
}

h3 {
	font-size: var(--text-lg);
}

h1, h2, h3, h4, h5, h6, p, ul {
	margin: unset;
}

a {
	color: unset;
	text-decoration: unset;
	outline-offset: 0;
}

.flex {
	display: flex;
	gap: var(--md);
	&.wrap {
		flex-wrap: wrap;
	}
	&.row {
		flex-direction: row;
	}
	&.column {
		flex-direction: column;
	}
}

.gap-0 {
	gap: 0;
}
.gap-xxs {
	gap: var(--xxs);
}
.gap-xs {
	gap: var(--xs);
}
.gap-sm {
	gap: var(--sm);
}
.gap-md {
	gap: var(--md);
}
.gap-lg {
	gap: var(--lg);
}
.gap-xl {
	gap: var(--xl);
}
.gap-xxl {
	gap: var(--xxl);
}

.justify-start {
	justify-content: start;
}
.justify-center {
	justify-content: center;
}
.justify-end {
	justify-content: end;
}
.justify-around {
	justify-content: space-around;
}
.justify-between {
	justify-content: space-between;
}
.justify-evenly {
	justify-content: space-evenly;
}
.justify-end {
	justify-content: end;
}
&.align-start {
	align-items: start;
}
&.align-center {
	align-items: center;
}
&.align-end {
	align-items: end;
}