.navbar {
	ul {
		display: flex;
		gap: var(--md);
		padding: unset;
	}
	li {
		display: block;
	}
	a {
		&:not([href]) {
			color: var(--col-gray);
		}
		&[href] {
			color: var(--col-primary);
			&:hover {
				text-decoration: underline;
			}
		}
	}
}