.navbar {
	ul {
		display: flex;
		gap: var(--md);
		padding: unset;
	}
	li {
		display: block;
	}
	a {
		&:not([href]) {
			color: var(--col-gray);
		}
		&[href] {
			color: var(--col-primary);
			outline: 3px solid transparent;
			border-radius: var(--xxs);
			transition: var(--transition);

			&:hover {
				text-decoration: underline;
			}
			&:focus-visible {
				outline-color: rgb(from var(--col-primary) r g b / 20%);
			}
		}
	}
}